# Table of Contents
* [1) Matrix Multiplication](#1%29-Matrix-Multiplication)	
* [2) Element wise](#2%29-Element-wise)
    * [1) Multiplication](#1%29-Multiplication)
	* [2) square](#2%29-square)
    * [3) inverse](#3%29-inverse)
    * [4) log, exp, abs](#4%29-log%2C-exp%2C-abs)
    * [5) increment each element](#5%29-increment-each-element)
    * [6) Transpose](#6%29-Transpose)
    * [7) value, index](#7%29-value%2C-index)
* [3) magic](#3%29-magic)   
* [4) find](#4%29-find)
* [5) sum](#5%29-sum)
* [6) prod](#6%29-prod)
* [7) round](#7%29-round)
* [8) max](#8%29-max)
* [9) sum](#9%29-sum)
* [10) Inverse of matrix](#10%29-Inverse-of-matrix)

In [2]:
A = [1 2; 3 4; 5 6];
B = [11 12; 13 14; 15 16];
C = [1 1; 2 2];

# 1) Matrix Multiplication

In [3]:
A * C

ans =

    5    5
   11   11
   17   17

# 2) Element wise

## 1) Multiplication

In [4]:
A .* B % each element in A will multiply by a correspond element in B

ans =

   11   24
   39   56
   75   96

## 2) square

In [5]:
A .^ 2 % element square

ans =

    1    4
    9   16
   25   36

## 3) inverse

In [6]:
v = [1; 2; 3]

v =

   1
   2
   3

In [9]:
1 ./ v % element-wise reciprocal of v, meaning 1/1, 1/2, 1/3

ans =

   1.00000
   0.50000
   0.33333

In [10]:
1 ./ A % element wise inverse of A

ans =

   1.00000   0.50000
   0.33333   0.25000
   0.20000   0.16667

## 4) log, exp, abs

In [12]:
log(v)

ans =

   0.00000
   0.69315
   1.09861

In [13]:
exp(v)

ans =

    2.7183
    7.3891
   20.0855

In [14]:
abs(v)

ans =

   1
   2
   3

In [15]:
abs([-1; 2; -3])

ans =

   1
   2
   3

In [16]:
-v % -1*v

ans =

  -1
  -2
  -3

## 5) increment each element

In [17]:
v + ones(length(v), 1) % increment each element of vector v by 1

ans =

   2
   3
   4

In [19]:
v + ones(3,1)

ans =

   2
   3
   4

In [21]:
v + 1 % simplier way

ans =

   2
   3
   4

## 6) Transpose

In [22]:
A'

ans =

   1   3   5
   2   4   6

In [23]:
(A')'

ans =

   1   2
   3   4
   5   6

## 7) value, index

In [24]:
a = [1 15 2 0.5]

a =

    1.00000   15.00000    2.00000    0.50000

In [25]:
val = max(a)

val =  15

In [26]:
[val, ind] = max(a) % value and index of maximum value of a

val =  15
ind =  2

In [27]:
max(A) % column wise maximum

ans =

   5   6

In [28]:
a < 3 % element wise comparison

ans =

   1   0   1   1

# 3) magic

In [29]:
help magic

cygwin warning:
  MS-DOS style path detected: C:\Users\tvu\AppData\Local\Temp\octave-help-v40ApF.txi
  Preferred POSIX equivalent is: /cygdrive/c/Users/tvu/AppData/Local/Temp/octave-help-v40ApF.txi
  CYGWIN environment variable option "nodosfilewarning" turns off this warning.
  Consult the user's guide for more details about POSIX paths:
    http://cygwin.com/cygwin-ug-net/using.html#using-pathnames
'magic' is a function from the file C:\Octave\Octave-3.8.2\share\octave\3.8.2\m\special-matrix\magic.m

 -- Function File:  magic (N)
     Create an N-by-N magic square.  A magic square is an arrangement
     of the integers `1:n^2' such that the row sums, column sums, and
     diagonal sums are all equal to the same value.

     Note: N must be greater than 2 for the magic square to exist.


Additional help for built-in functions and operators is
available in the online version of the manual.  Use the command
'doc <topic>' to search the manual index.

Help and information about Octave is also available on the WWW
at http://www.octave.org and via the help@octave.org
mailing list.

In [30]:
A = magic(3) % sum of each rows, columns, diagonal add up to same value

A =

   8   1   6
   3   5   7
   4   9   2

# 4) find

In [31]:
[r,c] = find(A >= 7) % row and column

r =

   1
   3
   2

c =

   1
   2
   3

# 5) sum

In [34]:
a

a =

    1.00000   15.00000    2.00000    0.50000

In [32]:
sum(a) # sum all values

ans =  18.500

# 6) prod

In [33]:
prod(a) # multiply (product) of all values

ans =  15

# 7) round

In [35]:
floor(a) % round values down

ans =

    1   15    2    0

In [36]:
ceil(a) % round values up

ans =

    1   15    2    1

# 8) max

In [37]:
rand(3)

ans =

   0.673778   0.586378   0.163423
   0.745156   0.142469   0.070520
   0.852210   0.905210   0.967721

In [38]:
max(rand(3), rand(3)) % element wise max of 2 random generated matrices

ans =

   0.22275   0.69232   0.83753
   0.83406   0.57054   0.89492
   0.61636   0.83527   0.51613

In [39]:
A

A =

   8   1   6
   3   5   7
   4   9   2

In [40]:
max(A, [], 1) % max by first dimension (column)

ans =

   8   9   7

In [41]:
max(A, [], 2) %  max by second dimension (row)

ans =

   8
   7
   9

In [42]:
max(max(A)) # get maximum value of the whole matrix

ans =  9

In [43]:
A(:) # turn matrix to vector

ans =

   8
   3
   4
   1
   5
   9
   6
   7
   2

In [44]:
max(A(:)) # max of vector

ans =  9

# 9) sum

In [45]:
A = magic(9)

A =

   47   58   69   80    1   12   23   34   45
   57   68   79    9   11   22   33   44   46
   67   78    8   10   21   32   43   54   56
   77    7   18   20   31   42   53   55   66
    6   17   19   30   41   52   63   65   76
   16   27   29   40   51   62   64   75    5
   26   28   39   50   61   72   74    4   15
   36   38   49   60   71   73    3   14   25
   37   48   59   70   81    2   13   24   35

In [46]:
sum(A,1) # column wise sum

ans =

   369   369   369   369   369   369   369   369   369

In [47]:
sum(A,2) # row wise sum

ans =

   369
   369
   369
   369
   369
   369
   369
   369
   369

In [48]:
eye(9)

ans =

Diagonal Matrix

   1   0   0   0   0   0   0   0   0
   0   1   0   0   0   0   0   0   0
   0   0   1   0   0   0   0   0   0
   0   0   0   1   0   0   0   0   0
   0   0   0   0   1   0   0   0   0
   0   0   0   0   0   1   0   0   0
   0   0   0   0   0   0   1   0   0
   0   0   0   0   0   0   0   1   0
   0   0   0   0   0   0   0   0   1

In [49]:
A .* eye(9) % keep only diagonal entry of A

ans =

   47    0    0    0    0    0    0    0    0
    0   68    0    0    0    0    0    0    0
    0    0    8    0    0    0    0    0    0
    0    0    0   20    0    0    0    0    0
    0    0    0    0   41    0    0    0    0
    0    0    0    0    0   62    0    0    0
    0    0    0    0    0    0   74    0    0
    0    0    0    0    0    0    0   14    0
    0    0    0    0    0    0    0    0   35

In [50]:
sum(sum(A .* eye(9))) % sum of diagonal

ans =  369

In [51]:
flipud(eye(9))

ans =

Permutation Matrix

   0   0   0   0   0   0   0   0   1
   0   0   0   0   0   0   0   1   0
   0   0   0   0   0   0   1   0   0
   0   0   0   0   0   1   0   0   0
   0   0   0   0   1   0   0   0   0
   0   0   0   1   0   0   0   0   0
   0   0   1   0   0   0   0   0   0
   0   1   0   0   0   0   0   0   0
   1   0   0   0   0   0   0   0   0

In [52]:
sum(sum(A.*flipud(eye(9)))) % sum of the opposite of the diagonal

ans =  369

# 10) Inverse of matrix

In [53]:
A = magic(3)

A =

   8   1   6
   3   5   7
   4   9   2

In [54]:
pinv(A) % inverse of matrix A

ans =

   0.147222  -0.144444   0.063889
  -0.061111   0.022222   0.105556
  -0.019444   0.188889  -0.102778

In [55]:
temp = pinv(A)

temp =

   0.147222  -0.144444   0.063889
  -0.061111   0.022222   0.105556
  -0.019444   0.188889  -0.102778

In [56]:
temp * A % identity matrix because A * A'

ans =

   1.00000   0.00000  -0.00000
  -0.00000   1.00000   0.00000
   0.00000  -0.00000   1.00000